* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    cursor: pointer;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
